* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 100px;
    background-color: #35424A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none; 
    color: white;  
    border-bottom: 3px solid #a9508b; 
}

.navbar h1 span {
    color:#a9508b;
    

}


.right-navbar ul {

margin-right: 15px;

}
.right-navbar li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;



}

.left-navbar h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-left: 30px;
}
.right-navbar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;

}

#home{
    color:#a9508b
}

